<html ng-app="myModule">
    <head>
        <title>R-tree online</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body ng-controller="ctrlRead">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <canvas id="canvas" width="750" height="600" style="border:5px solid #000000;" ng-click="addOnClick($event)" ng-mousemove="makeRange($event)"></canvas>
                </div>
                <div class="col-md-4">
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-heading">Insert Mode</div>
                        <div class="panel-body">
                            <select class="form-control" ng-model="inputType" ng-disabled="!actionMode">
                                <option value="0">Point</option>
                                <option value="1">Polygon</option>
                            </select>
                            <br/>
                            <button class="btn" ng-disabled="actionMode" ng-click="changeState()" ng-class="classInput">{{labelInsert}}</button>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Query Mode</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control" ng-disabled="actionMode" ng-model="queryModel" ng-change="currentQueryMode()">
                                        <option value="R">Range</option>
                                        <option value="N">Nearest</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" placeholder="K" ng-disabled="kdisable" ng-model="kvalue"/>
                                </div>     
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn" ng-disabled="!actionMode" ng-click="changeState()" ng-class="classSearch">{{labelSearch}}</button>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                            <label><input type="checkbox" ng-disabled="actionMode" ng-model="liveMode">Live</label>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Elements</div>
                        <div class="panel-body">
                            <select class="form-control" ng-model="selectedRegion" ng-options="item.value for item in items" multiple size="9" ng-change="updateRegion()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" ng-click="clickLoadTest()">Load Test Data</button>
            <button class="btn btn-danger" ng-click="clickClear()">Clear R-Tree</button>
        </div>
        <script src="rtree/js/angular.min.js"></script>
        <script src="rtree/js/controller.js"></script>
    </body>
</html>